@import "settings";
@import "select2";
@import "foundation";

@import "animate";
@import "animations";
@import "variables";
@import "fonts";
@import "datatables";
@import "config";

//@import "vendor/amaran/amaran";
//@import "vendor/font-awesome/font-awesome";

@import "font-awesome";
@import "amaran.min";
@import "src/scss/core";


@import "chrono";
@import "loader";
@import "notifications";
@import "override";