<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chalk</title>
        <link rel="stylesheet" id="theme" type="text/css" href="css/chalk-default.css" media="screen" />
    </head>
    <body>
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <aside id="config" class="right-off-canvas-menu">
                    <div  class="config"><a href="#" data-i18n="app.config"></a></div>
                    <ul class="off-canvas-list configPlaceholder"></ul>
                </aside>
                <div class="contain-to-grid">
                    <nav class="top-bar" data-topbar role="navigation">
                        <ul class="title-area">
                            <li class="name">
                                <h1><a href="#"><img src="icons/chalk-logo-wobg.png" /> Chalk</a></h1>
                            </li>
                        </ul>

                        <section class="top-bar-section">
                            <!-- Right Nav Section -->
                            <ul class="right">
                                <li class="active"><a id="disconnect" data-i18n="app.disconnect" href="#"></a></li>
                            </ul>
                            <ul class="right">
                                <li><a class="right-off-canvas-toggle" data-i18n="app.configShort" href="#"></a></li>
                            </ul>
                        </section>
                    </nav>
                </div>
                <div class="content">
                    <!-- Login form -->
                    <div id="loginForm" class="reveal-modal" data-reveal>
                        <form action="#" method="get">
                            <input type="text" id="apiGateway" name="apiGateway" data-i18n="[placeholder]app.url" placeholder="" />
                            <input type="text" id="apiKey" name="apiKey" data-i18n="[placeholder]app.apiKey" placeholder="Clé d'api" />
                            <button data-i18n="app.connect"></button>
                        </form>
                    </div>
                    <!-- Direct search -->
                    <div id="directSearchPlaceholder"></div>

                    <!-- Latest projects -->
                    <div id="latestPlaceholder"></div>

                    <!-- Project selector -->
                    <div id="projectPlaceholder"></div>

                    <!-- Issue selector -->
                    <div id="issuePlaceholder"></div>

                    <!-- Chrono -->
                    <div id="chronoPlaceholder"></div>
                </div>

                <!-- close the off-canvas menu -->
                <a class="exit-off-canvas"></a>
            </div>
        </div>

        <!-- Chrono -->
        <div id="chrono" class="reveal-modal" data-reveal>
            <div class="led row">
                <div class="control play text-center columns small-2">
                    <a href="#"><i class="fa fa-play"></i></a>
                </div>
                <div class="timer text-center columns small-10">00:00:00</div>
            </div>
            <div id="headerPlaceholder"></div>
            <div class="panel radius">
                <ul>
                    <li class="project"></li>
                    <li class="title"></li>
                    <li class="author"></li>
                </ul>
            </div>
            <div data-alert class="alert-box alert" >
                <span data-i18n="chrono.idleMessage"></span> (<span id="savedTime"></span>) :<br />
                <a id="yes" data-i18n="app.send"></a> /
                <a id="no" data-i18n="app.cancel"></a>
            </div>
            <div id="activityPlaceholder"></div>
            <div id="footerPlaceholder"></div>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <!-- Loader view -->
        <script id="loaderTemplate" type="html/template">
            <div class="row loader text-center">
                <p><img src="images/loader.gif" /> {{message|t}}</p>
            </div>
        </script>

        <!-- Select template -->
        <script id="selectTemplate" type="html/template">
            {% if label %}<h2>{{label|t}}</h2>{% endif %}
            <div class="row collapse">
            {% if refresh %}
                <div class="small-11 columns">
            {% endif %}
                    <select>
                        <option value="">{{defaultOption|t}}</option>
                        {% for item in items %}
                        <option value="{{item.id}}">{{item.name|t}}</option>
                        {% endfor %}
                    </select>
            {% if refresh %}
                </div>
                <div class="small-1 columns refresh refreshSmall">
                    <a href="#" class="center postfix"><img src="images/refresh.png" /></a>
                </div>
            {% endif %}
            </div>
        </script>

        <!-- Issues tab template -->
        <script id="issueTableTemplate" type="html/template">
            <h2>{{label|t}}</h2>
            <table class="small-12">
            <thead>
                <tr>
                    <th data-i18n="issue.id"></th>
                    <th data-i18n="issue.title"></th>
                    <th data-i18n="issue.status"></th>
                    <th></th>
                </tr>
            </thead>
            {% for issue in issues %}
                <tr>
                    <td>{{issue.id}}</td>
                    <td>{{issue.subject}}</td>
                    <td>{{issue.status.name}}</td>
                    <td>{{issue.assigned_to.id}}</td>
                </tr>
            {% endfor %}
            </table>
        </script>

        <!-- Config templates -->
        <script id="inputTemplate" type="html/template">
            <div class="row {{rowClass}}">
                {% if label %}<label>{{label|t}}</label>{% endif %}
                <div class="columns {{wrapperClass}}">
                <input type="{{type}}" name="{{inputName}}" placeholder="{{placeholder|t}}" value="{{defaultValue}}" class="{{inputClass}}" />
                </div>
                {% if buttonText %}
                <button class="{{buttonClass}} columns small-3 tiny">{{buttonText|t}}</button>
                {% endif %}
            </div>
        </script>

        <!-- Config templates -->
        <script id="textareaTemplate" type="html/template">
            <label>{{label|t}}</label>
            <textarea class="{{inputClass}}">{{defaultContent}}</textarea>
            {%if buttonLabel%}<button class="{{buttonClass}}">{{buttonLabel|t}}</button>{%endif%}
        </script>

        <script id="configLineTemplate" type="html/template">
            <li><label>{{label|t}}</label></li>
            <li id="{{id}}">{{content}}</li>
        </script>

        <!-- Div -->
        <script id="divTemplate" type="html/template">
            <div id="{{id}}">{{content}}</div>
        </script>

        <script type="text/javascript" src="js/chalk.js"></script>
    </body>
</html>
